
.container {
    margin-top: 100px;
    width: 30%;
}

input {
    border: none;
    text-align: left;   
}

ul li {
    list-style: none;
    padding: 5px;
    border: 1px solid gray;
    width: 100%;
}

h1 {
    text-align: center;
}

p {
    padding-left: 40px;
}