
.container {
    margin-top: 100px;
    width: 40%;
}

.button_create{
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 10px;
}

input {
    border: none;
    text-align: left;   
}

ul li {
    list-style: none;
    padding: 5px;
    border: 1px solid gray;
    width: 100%;
    
}

h1 {
    text-align: center;
}

p {
    padding-left: 40px;
}

.button_delete{
    padding-left: 40px;
    padding-bottom: 15px;
}

.trash{
    text-align: right;
}

